<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <section class="nav-menu">
        <label for="miniature">Image :</label><br/>
        <input type="file" name="miniature" id="miniature" ng-model='miniature' />
        <ul>
            <li>S'inscrire</li>
            <li>Connexion</li>
            <li>Rechercher</li>
        </ul>
    </section>
    <h1>Selma's Market Place</h1>
</body>

</html>